<!doctype html>
<html>
  <head>
    <title>Eurovote Dashboard</title>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="/assets/css/dashboard.css" rel="stylesheet">
  </head>
  <body>
  <div class="row">
	  <div class="span2">
		<ul id="people" class="unstyled"></ul>
	  </div>
	  <table class="votes votelist">
		</table>
	</div>

	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	  $(function () {
		var userlist = {};
		var socket = io();
		var sessionid = false;
		$("form").submit(function(event){
    		event.preventDefault();
		});

		socket.on("connect", function() {
		});

		socket.on("update-people", function(people){
				$("#people").empty();
				$.each(people, function(i, name) {
					$('#people').append("<li>" + name + "</li>");
				});
				userlist = people;
		});

		socket.on("update-votes", function(msg){
			console.log(msg);
			highestScore=0;
			for(act in msg) {
				$(".votes progress[data-act='"+act+"']").val(msg[act]["score"]);
				if(msg[act]["score"]>highestScore)
					highestScore=msg[act]["score"];
			}
			$(".votes progress").attr("max",highestScore);
		});

		socket.on("init-votes", function(msg){
			if(sessionid == false) {
				sessionid = socket.id;
				console.log(msg);
				highestScore=0;
				for(act in msg) {
					$(".votes").append("<tr class=\"bouger\">\
						<td>"+act+"</td>\
						<td>"+msg[act]["country"]+"</td>\
						<td>"+msg[act]["contestant"]+"</td>\
						<td>"+msg[act]["song"]+"</td>\
						<td><progress max='100' value='"+msg[act]["score"]+"' data-act='"+act+"'></progress></td></tr>");
					if(msg[act]["score"]>highestScore)
						highestScore=msg[act]["score"];
				}
				$(".votes progress").attr("max",highestScore);
			}
		});

		socket.on("disconnect", function(){
			$("#msg").attr("disabled", "disabled");
			$("#send").attr("disabled", "disabled");
		});

	});
	</script>
  </body>
</html>
