<!doctype html>
<html lang="en">
<head>
    <title>Eurovote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="row page2" id="page2" style="display: none">
    <div class="span2" id="msgs">
    </div>

    <a class="button" style="float:right" href="/dashboard" target="_blank">Show group results</a>

    <div class="span2">
        <ul id="people" class="unstyled"></ul>
    </div>

    <h1>Your vote</h1>
    <table id="vote" class="votelist">
        <thead>
        <tr>
            <th>Pts</th>
            <th>
                R/O
            </th>
            <th>
                Country
            </th>
            <th>
                Contestant
            </th>
            <th>
                Song
            </th>
            <th>
                &#8597;
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="ui-state-disabled">
            <td colspan="7" style="font-weight: normal; color: #444; text-align:center; font-size: 0.9em"><i>Drag the contestants to this table. Place the best act on top.</i></td>
        </tr>
        </tbody>
    </table>
    <h1>Votable acts</h1>
    <table id="votable" class="votelist"></table>

    <h2>Actions</h2>
    <button id="clearAll">Clear username and votes</button>
    <br><br>
</div>
<div class="row center">
    <div class="span5 offset2" id="login">
        <h1 style="font-weight: 300">Good evening Europe!</h1>
        <br>

        <h1>Join our voting for the<br><img
                src="/assets/logo.svg"
                alt="Eurovision Song Contest" width="300"></h1>

        <br>

        <form class="form-inline" id="loginForm">
            <h2>Enter your name to join the group.</h2>

            <input type="text" class="input-small" placeholder="Your name" id="name" autofocus style="margin-right: 4px">
            <input type="submit" name="join" id="join" value="Join" class="btn btn-primary">
        </form>
    </div>
</div>

</body>
</html>
