@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,300..800&display=swap');

html {
    height: 100vh;
}

body {
    font: 14px Montserrat, Segoe UI, Arial;
    background-color: rgb(7, 20, 52);
    background-image: url('/assets/bg.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 5px 20px;
}

a {
    color: black;
}

#msgs, #people {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#msgs {
    position: fixed;
    top: 0;
    background: orange;
    left: 0;
    padding: 0 40px;
    width: 100%;
}

#people li {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 2px 1px 7px 0 rgba(0, 0, 0, 0.4);
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    margin: 0 10px 2px 0;
}

input, button, a.button {
    border-radius: 30px;
    box-shadow: 2px 1px 7px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid #ffffff;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.06);
    font: 14px Open Sans, Segoe UI, Arial;
    font-weight: 500;
    padding: 3px 10px;
    text-decoration: none;
    outline: none;
}

button:hover, a.button:hover, input[type="submit"]:hover {
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

input::placeholder {
    font: 14px Montserrat, Segoe UI, Arial;
    font-weight: 400;
    color: white;
}

#login {
    text-align: center;
}

#loginForm {
    background: #ffffff2e;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .5);
}

#loginForm h2 {
    margin: 0 0 20px 0;
}

.votelist thead tr {
    background-color: white;
    color: black;
    text-align: left;
}

.votelist thead a {
    color: black;
}

.votelist {
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0, .3);
}

.votelist tr {
    height: 45px;
    margin: 3px;
    background: rgba(244, 248, 255, 0.95);
    color: black;
    border-radius: 6px;
    transition: 1s background;
    transition-delay: .5s;
}

.votelist tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.98);
}

.votelist td, .votelist th {
    vertical-align: middle;
    padding: 2px 6px;
    width: inherit;
    word-break: break-word;
}

.votelist td.dragger {
    text-align: right;
    background: #ffffffc9;
    font-size: 22px;
    width: 24px;
    cursor: n-resize;
    background: url(https://static-00.iconduck.com/assets.00/chevron-up-down-icon-282x512-xvdjygib.png) 50% 50% no-repeat;
    background-size: 12px;
}

.votelist td:first-child {
    word-break: keep-all;
    font-weight: 600;
    text-align: right;
}

.votelist img {
    height: 30px;
    border-radius: 50%;
}

.votelist div {
    display: inline-block;
}

.votelist tr.ui-state-highlight {
    background: #555 !important;
}

#vote tbody tr::before {
    content: " ";
    display: table-cell;
    vertical-align: middle;
    padding: 2px 6px;
    background: #2e61328a;
    text-align: center;
    font-weight: bold;
    word-break: keep-all;
    box-shadow: inset -5px 0 15px -10px #0000004f;
}

#vote tr:nth-child(1)::before {
    content: inherit;
}

#vote tr:nth-child(2)::before {
    content: "12"
}

#vote tr:nth-child(3)::before {
    content: "10"
}

#vote tr:nth-child(4)::before {
    content: "8"
}

#vote tr:nth-child(5)::before {
    content: "7"
}

#vote tr:nth-child(6)::before {
    content: "6"
}

#vote tr:nth-child(7)::before {
    content: "5"
}

#vote tr:nth-child(8)::before {
    content: "4"
}

#vote tr:nth-child(9)::before {
    content: "3"
}

#vote tr:nth-child(10)::before {
    content: "2"
}

#vote tr:nth-child(11)::before {
    content: "1"
}

.ui-sortable-helper {
    display: table;
}

.ui-sortable-helper td:first-child {
    width: 15px;
}

.ui-sortable-helper td:nth-child(2) {
    width: 110px;
}

.center {
    display: flex;
    justify-content: center;
}
